# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Reports
reports/

# Exports
exports/

# Investigations
investigations/

# Logs
logs/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db